<div class="container">
  <h1 class="index-trips-title">My trips</h1>
  <div class="flex index-trips">
    <% @my_trips.each do |trip| %>
      <div class="index-trips-card">
        <div class="img"></div>
        <div class="infos">
          <h5><strong><%= Place.where(id: PlaceProposal.where(id: trip.place_proposal_id).first.place_id).first.city.upcase %></strong></h5>
          <p><%= "#{trip.start_at.day}/#{trip.start_at.month}/#{trip.start_at.year} - #{trip.end_at.day}/#{trip.end_at.month}/#{trip.end_at.year}" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
