<div class="container">
  <h1>My trips</h1>
  <div class="flex index">
    <% @my_trips.each do |trip| %>
      <div class="card-index">
        <div class="img"></div>
        <div class="infos">
          <%= trip.place %>
        </div>
      </div>
    <% end %>
  </div>
</div>
