// Specific CSS for your home-page
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 90vh;
  background-color: white;
  text-align: center;
}

.img {
  margin: 0 auto;
  background-image: url("test.jpeg");
  width: 80%;
  border-radius: 60px;
  height: 480px;
  background-size: cover;
}

#hero-title {
  font-family: 'Vollkorn', serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 90px;
  padding-left: 400px;
}

button {
  color: white;
  background-color: #F78764;
  padding: 10px 80px;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
}

.hero h3 {
  font-family: 'Vollkorn', serif;
  padding-top: 20px;
}

.infos {
  height: 400px;
  width : 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(138, 151, 254, 0.10);
  margin-bottom: 30px;
}

.info-card {
  background-color: white;
  border-radius: 20px;
  border: solid 2px #F78764;
  height: 200px;
  width: 280px;
  padding: 20px;
  box-shadow: 0 4px 4px -2px gray;
}

.info-text {
  color: #F78764;
  font-size: 20px;
  text-align: center;
}

.strength-card {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  height: 500px;
  margin-bottom: 30px;
}

.reverse-card {
  flex-direction: row-reverse;
  background-color: rgba(138, 151, 254, 0.10);
}
.strength-info-text {
width: 20vw;

h2 {
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  font-weight: bolder;
}
p {
  font-size: 20px;
}
}

.strenght-img {
  border-radius: 20px;
  background-size: cover;
  width: 60vw;
}

.dates-img {
  background-image: url('dates.png');
}

.location-img {
  background-image: url('location.png');
  background-position: bottom;
}

.dashboard-img {
  background-image: url('dashboard.png');
  background-position: top;
}
