// Specific CSS for your home-page
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  // height: 90vh;
  background-color: white;
  text-align: center;
}

.img {
  margin: 0 auto;
  background-image: url("test.jpeg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#hero-title {
  font-family: 'Vollkorn', serif;
  color: white;
  font-size: 60px;
  font-weight: bolder;
  padding-top: 90px;
  padding-left: 600px;
}

.home-page-button {
  margin-top: 250px;
  width: 300px !important;
  font-size: 30px !important;
}

.infos {
  height: 400px;
  width : 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(138, 151, 254, 0.10);
}

.info-card {
  background-color: white;
  border-radius: 20px;
  border: solid 2px #F78764;
  height: 250px;
  width: 280px;
  padding: 20px;
  box-shadow: 0 4px 4px -2px gray;
}

.info-text {
  color: #F78764;
  font-size: 30px;
  text-align: center;
}

.fafor-home {
  font-size:40px;
  margin-bottom: 40px;
}

.strength-card {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  height: 600px;
  margin-bottom: 30px;
}

.reverse-card {
  flex-direction: row-reverse;
  background-color: rgba(138, 151, 254, 0.10);
  text-align: right;
  p {
    text-align: right !important;
  }
}
.strength-info-text {
width: 20vw;

h2 {
  font-family: 'Vollkorn', serif;
  color: #F78764;
  font-size: 40px;
  font-weight: bolder;
}
p {
  font-size: 25px;
  text-align: left;
}
}

.strenght-img {
  border-radius: 20px;
  background-size: cover;
  width: 60vw;
}

.dates-img {
  background-image: url('dates.png');
}

.location-img {
  background-image: url('location.png');
  background-position: bottom;
}

.dashboard-img {
  background-image: url('dashboard.png');
  background-position: top;
}
a:hover {
  color: #0a58ca;
}
