.category-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 67rem;
  grid-gap: 1rem;
}

.category-item {
  overflow: hidden;
  border-radius: 10px;
  width: 170px;
  height: 120px;
  position: relative;

  p {
    color: white;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }

  &:hover p {
    opacity: 1;
  }

  &:hover .label-pp {
    transform: scale(1.1);
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.label-pp {
  width: 170px;
  height: 120px;
  font-size: 0;
  transition: transform 0.3s;
}

.category-selector + label {
  cursor: pointer;
  width: 170px;
  height: 120px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  font-weight: bold;
}

.category-selector:checked + label {
  font-size: 25px;
  width: 170px;
  height: 120px;
  color: white;
  border: 4px solid #F78764;
  border-radius: 10px;
  font-weight: bold;
}
.date-ta {
  color: #666666;
}
