.modal-result-dialog{
  max-width: fit-content;
  border-radius: 10px;
}
.modal-body{
  height: 600px;
  width: 1000px;
  border-radius: 10px;
}
.modal-container{
  border-radius: 10px;
}

.container-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 118px;
}

.button_inverse{
  display:block;
  color: #F78764;
  text-decoration: none;
  background-color: white;
  border: solid 2px #F78764;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  width: 16rem;
  font-size: 14px;
  box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.8);
  bottom: 10px;
  &:hover {
    background-color: white;;
    color: #F78764;
  }
}

.button-special{
  display:block;
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  width: 20rem;
  height: 45px;
  font-size: 20px;
  margin-top: 20px;
  justify-content: center;
  text-shadow: 3px;
}

.mini-card-result-show-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #F78764;
  width: 80px;
  height: 100px;
  margin-right: 6px;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  box-shadow:  0 0 0px 0 rgba(139, 122, 122, 0.8);
  line-height: 0.1em;
  i{
    font-size: 20px;
  }
  #logement{
    font-size: 10px;

    line-height: 0.1em;
  }
  #price-place{
    font-weight: bold;
    line-height: 0.1em;
  }

}
.mini-card-result-show-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #F78764;
  width: 80px;
  height: 100px;
  padding: 12px;
  margin-right: 6px;
  border-radius: 10px;
  background-color: white;
  box-shadow:  0 0 0px 0 rgba(139, 122, 122, 0.8);
  line-height: 0.1em;
  i{
    font-size: 20px;
  }
  #meteo{
    font-size: 10px;
    line-height: 0.1em;
  }
  #temperature{
    font-weight: bold;
    line-height: 0.1em;
  }
}
.mini-card-result-show-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #F78764;
  width: 80px;
  height: 100px;
  padding: 12px;
  margin-right: 6px;
  border-radius: 10px;
  background-color: white;
  box-shadow:  0 0 0px 0 rgba(139, 122, 122, 0.8);
  line-height: 0.1em;
  i{
    font-size: 20px;
  }
  #beer{
    font-size: 10px;
    line-height: 0.1em;
  }
  #price-beer{
    font-weight: bold;
    line-height: 0.1em;
  }
}

.mini-card-result-show-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #F78764;
  width: 80px;
  height: 100px;
  padding: 12px;
  margin-right: 6px;
  border-radius: 10px;
  background-color: white;
  box-shadow:  0 0 0px 0 rgba(139, 122, 122, 0.8);
  line-height: 0.1em;
  i{
    font-size: 20px;
  }
  #plane{
    font-size: 10px;
    line-height: 0.1em;
  }
  #price-plane{
    font-weight: bold;
    line-height: 0.1em;
  }
}
.img-result{
  border-radius: 10px;
  width: 608px;
  height: 500px;
  margin:5px;
  background-position: center;
}

#result-date{
  font-size: 22px;
  padding-left: 2px;
  i {
    font-size: 24px;
  }
}

#title-result{
  font-size: 36px;
}

.container-informations-price{
  margin-top: 90px;
}

.container-informations{
  padding-left: 6px;
  margin-top: 1px;
  height: 510px;
}
