.title-wrapper {
  margin: 0 auto;
}
.container-trip {
  width: 60vw;
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
}
.show-title-text{
  background-color: rgba(138, 151, 254, 0.10);
  border-radius: 10px;
  padding: 10px;
}
.show-h2 {
  font-size: 27px;
  font-family: 'Vollkorn';
  padding: 10px;
  margin: 0;
  font-weight: bolder;
}
.show-tilte-subtitle{
  font-size: 25px;
  font-family: 'Vollkorn';
  padding: 10px;
  margin: 0;
}
.title-show{
  width: 100%;
  height: 80px;
}
#subtitle-show{
  color:#F78764;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 22px;
  font-family: 'Vollkorn';
  font-weight: bold;
}
#map{
  height: 100vh;
  top: 0;
  width: 40vw;
  position: sticky;
  margin-left: 10px;
  border-radius: 10px;
}

//dashboard
.img-show-dashboard{
  width: 100%;
  border-radius: 20px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.container-chat-todo{
  display: flex;
  margin-top: 15px;
}
.chat{
  overflow: auto;
  width: 60vw;
  background-color: rgba(138, 151, 254, 0.10);
  padding: 15px;
  margin-right: 20px;
  border-radius: 20px;
  max-height: 600px;
  margin-bottom: 30px;

  .form-control {
    background-color: white;
    color: #F78764;
    border: 1px solid #F78764;
    border-radius: 5px 0 0 5px;
  }

  .btn-send {
    margin: 0;
    background-color: #F78764;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  .msg-wrapper {
    margin-bottom: 0 !important;
  }

  .message {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .message-infos {
    margin-left: 10px;
  }

  .current-infos {
    margin-right: 10px;
  }

  .message-author {
    color: #8A97FE;
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .current-author {
    text-align: right;
  }

  .message-content {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px;
    color: #8A97FE;
  }

  .current-content {
    background-color: #8A97FE;
    color: white;
  }

  .fa-paper-plane {
    color: white;
  }
}
.form-control:focus {
  box-shadow: none;
}
.btn-send:focus {
  box-shadow: none;
}
.todo{
  width: 40vw;

  .form-control {
    background-color: white;
    color: #F78764;
    border: 1px solid #F78764;
    border-radius: 5px 0 0 5px;
  }

  .btn-send {
    margin: 0;
    background-color: #F78764;
    border-radius: 0 5px 5px 0;
  }

  .msg-wrapper {
    margin-bottom: 0 !important;
  }

  .fa-plus {
    color: white;
  }

  .to-do-header {
    background-color: white;
    color: #8A97FE;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-task {
    background-color: white !important;
  }

  .first-name {
    font-size: 16px !important;
    text-align: center;
  }

  .task-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(138, 151, 254, 0.10);
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    // width: 400px;

    p{
      font-size: 20px;
      margin-bottom: 0px;
    }

    i{
      font-size: 40px;
      color: #8A97FE;
    }

    .to-check {
      font-size: 40px;
      color: #8A97FE;
    }

    .task-name {
      width: 200px;
    }

    .task-done-status {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40px;
    }
  }
}
.title-dashboard{
  font-size: 60px;
  line-height: 0.8em;
  font-family: 'Vollkorn', serif;
  margin-top: 1rem;
}
.date-dashboard{
  color:#F78764;
  font-size: 28px
}
.avatar-dashboard{
  display:flex;
}
.title-todo-dashboard{
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Vollkorn', serif;
}
