.title-wrapper {
  margin: 0 auto;
}
.container-trip {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
}
.show-title-text{
    position: relative;
    top: 5.4em;
    left: 2em;
}
.show-h2 {
  font-size: 24px;
}
.title-show{
  width: 100%;
  height: 80px;
  background-color: #8A97FE;
  opacity: 0.2;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}
#subtitle-show{
  color:#F78764;
  position: relative;
  left: 1.8em;
  margin-top: 10px;
  font-size: 18px;
}
#map{
  height: 100vh;
  top: 0;
  width: 50vw;
  position: sticky;
  margin-left: 10px;
  border-radius: 10px;
}

//dashboard
.img-show-dashboard{
  width: 100%;
  border-radius: 20px;
  height: 450px;
  background-size: cover;
}
.container-chat-todo{
  display: flex;
  margin-top: 15px;
}
.chat{
  width: 50vw;
}
.todo{
  width: 50vw;
}
.title-dashboard{
  font-size: 42px;
}
.date-dashboard{
  color:#F78764;
  font-size: 22px
}
.avatar-dashboard{
  display:flex;
}
.title-todo-dashboard{
  font-size: 32px;
  margin-top: 20px;
}
