<%#= link_to "Pas dispo", trip_availability_availabilities_path(trip_av), method: :post, class: "button-orange-xl", "data-action": "click->availabilities#add" %>

<a href="" class="button-blank-user" data-action="click->availabilities#add" data-trip-id="<%= trip_av.id %>">Dispo ?</a>
