<%#= link_to "Dispo", trip_availability_availability_path(trip_av, av), method: :delete, class: "button-blue-xl" %>

<a href="" class="button-blue-xl" data-action="click->availabilities#remove" data-trip-id="<%= trip_av.id %>" data-av-id="<%= av.id %>" >Dispo</a>
