
<div class="container">
  <div class="card" href="">
    <div class=card-img>
      <img src="https://picsum.photos/500/300/?image=10" alt="What's this picture ?"/>
    </div>

    <div class="card-infos">
      <h2>CITY</h2>
      <div class="left">
        <p><i class="fa fa-plane"></i> Price €</p>
        <p><i class="fa fa-bed"></i> Price €</p>
      </div>
      <div class="right">
        <p><i class="fa fa-beer"></i> Loyer € </p>
        <p><i class="fa fa-temperature"></i> °C</p>
      </div>
    </div>

    <div class="card-footer">
    <a class="btn btn-ghost" href="#">Voter</a>
    </div>
  </div>
</div>
