<div class="container">
  <div class="card-avatar">
    <%=  image_tag image_url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72'),class:"avatar"  %>
      <p class="first-name">Jhonny</p>
    <div class="check">
        <i class="fas fa-check"></i>
    </div>
  </div>
</div>
