          <div class="card-index-xl-dispo">
            <div class="card-index-xl-img-dispo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72')">
              <h5 id="card-index-xl-dispo-title">
                <strong> Londres </strong>
              </h5>
              <p id="card-index-xl-dispo-date">
                <i class="fas fa-calendar-alt"></i>
                01-04-2022
              </p>
              <div class="card-index-xl-dispo-texte">
                <p>Nous attentons encore les <br> disponibilités de vos amis et leurs propositions de destination.</p>
              </div>
              <div class="footer-card-index-xl-dispo">
                <%= link_to "En attente des disponibilités", "#", class: "button-grey-xxl" %>
              </div>
              <div class="card-avatar-orange">
                <%=  image_tag image_url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72'), class:"img-card-avatar-orange"  %>
                <p class="first-name">Johnny</p>
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
              </div>
              <div class="link">
                <%= link_to "" do %>
                   <i class="fas fa-external-link"></i>
                <% end %>
              </div>
            </div>
          </div>
