<%# base card %>

<div class="card" href="">
  <div class="container">
  <div class=card-img>
    <img src="img" alt="What's this picture ?"/>
  </div>

  <div class="card-infos">
    <h2>Base Card</h2>
    <p>Exemple de petit paragraphe pour donner une idée de la contenance.
    Tout reste à faire dans le css</p>
    <small>By <a href="">PlanYourTrip Team</a></small>
  </div>
  </div>

</div>
