.card-index-xl-vote{
  position: relative;
  width: 800px;
  height: 380px;
  margin-top: 5px;


  .card-index-xl-img-vote{
    width: 700px;
    height: 380px;
    border-radius: 10px;
    background-size: cover;
    box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  }

  #card-index-xl-vote-title{
    font-size:32px;
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bold;
    color: white;
  }
  #card-index-xl-vote-date{
    position: absolute;
    top: 70px;
    left: 20px;
    color:white;
    i{
      font-size:22px;
    }
  }
  .card-index-xl-vote-texte{
    font-size: 12px;
    color:white;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 220px;
    height: 48px;
    text-align: justify;
  }
  .footer-card-index-xl-vote{
    position: absolute;
    top: 330px;
    left: 20px;
  }
  .card-avatar-orange{
    position: absolute;
    top: 90px;
    right: 70px;
  }

  .button-blue-xxl{
    color: white;
    text-decoration: none;
    background-color: #8A97FE;
    padding: 6px 4px 6px 4px;
    border-radius: 5px;
    text-align: center;
    width: 240px;
    font-size: 18px;
    box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);

    &:hover {
      background-color: white;
      color: #8A97FE;
      border: 1px solid  #8A97FE;
    }
  }


}
