.card-index{
  width: 410px;
  height: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .card-index-img{
    width: 310px;
    height: 360px;
    background-position: center;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  }
  #card-index-title{
    font-size: 28px;
    position: absolute;
    top: 20px;
    left: 65px;
    font-weight: bold;
    color: white;
  }
  #card-index-texte{
    font-size: 22px;
    position: absolute;
    top: 60px;
    left: 65px;
    color: white;
  }
  #card-index-date{
    position: absolute;
    top: 90px;
    left: 65px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    i{
      font-size:22px;
    }
  }
  .mini-avatar{
    display: flex;
    margin-right: 15px;
    border: solid 2px #F78764;
  }

  .container-mini-avatar{
    display: flex;
    height: 60px;
    top: 270px;
    left: 20px;
    position: absolute;
  }
}
