<div class="hero">
  <div class="img">
    <h1 id="hero-title">Organiser son voyage <br>SIM-PLE-MENT !</h1>
    <button id="Btn" class="button-orange-xxl home-page-button" >Nouveau voyage</button>
  </div>
</div>
<div class="strength">
  <div class="strength-card py-5">
    <div class="strength-info-text">
      <h2>Tous ensemble ou rien !</h2>
      <p>Chacun rentre ses disponibilités pour la période donnée, permettant ainsi au créateur du voyage de booker le créneau avec le maximum d'amis !</p>
    </div>
    <div class="strenght-img dates-img"></div>
  </div>
    <div class="strength-card reverse-card py-5">
    <div class="strength-info-text">
      <h2>Pas de destination ? Tout le monde reste calme !</h2>
      <p>Grâce à des indicateurs subtilement choisis, voter pour la destination de son prochain voyage parmis celles proposées par chacun !</p>
    </div>
    <div class="strenght-img location-img pb-5"></div>
  </div>
    <div class="strength-card py-5">
    <div class="strength-info-text strength-info-text-last">
      <h2>Une organisation aux petits oignons !</h2>
      <p>Une question concernant votre voyage ou une idée de sortie à proposer ? Utiliser le chat et la To-Do-List interactive pour s'organiser comme des chefs !</p>
    </div>
    <div class="strenght-img dashboard-img"></div>
  </div>
</div>

<%# <div class="infos">
  <div class="info-card">
    <p class="info-text"><i class="fas fa-calendar-alt fafor-home"></i><br>Trouvez les dates qui conviennent à tous</p>
  </div>
  <div class="info-card">
    <p class="info-text"><i class="fas fa-map-marker-alt fafor-home"></i><br>Votez pour la destination</p>
  </div>
  <div class="info-card">
    <p class="info-text"><i class="fas fa-check fafor-home"></i><br>Organisez-vous grâce à la To-Do-List</p>
  </div>
</div> %>

<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("Btn");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
