<div class="hero">
  <div class="img">
    <h1 id="hero-title">Organisez votre voyage <br>SIM-PLE-MENT !</h1>
  </div>
  <button>Nouveau voyage</button>
  <h3>Explorez comme jamais auparavant</h3>
</div>


<div class="infos">
  <div class="info-card">
    <p class="info-text"><i class="fas fa-calendar-alt"></i><br>Trouvez les dates <br>qui conviennent <br>à tous</p>
  </div>
  <div class="info-card">
    <p class="info-text"><i class="fas fa-map-marker-alt"></i><br>Proposez une destination puis <br>votez pour choisir <br>où partir</p>
  </div>
  <div class="info-card">
    <p class="info-text"><i class="fas fa-check"></i><br>Organisez-vous <br>sans stress grâce <br>à une To-Do-List <br>interactive</p>
  </div>
</div>
