<h1>Pages#home</h1>

<div class="card" href="">
  <div class="container">
    <div class=card-img>
      <img src="/assets/images/screen_2.png" alt="What's this picture ?"/>
    </div>

    <div class="card-infos">
      <h2>Base Card</h2>
      <p>Exemple de petit paragraphe pour donner une idée de la contenance.
      Tout reste à faire dans le css</p>
      <small>By <a href="">PlanYourTrip Team</a></small>
    </div>
  </div>

    <div class="card-footer">
    <a class="btn btn-ghost" href="#">Button title</a>
    </div>
</div>

