.button-border-blue {
  color: #8A97FE;
  text-decoration: none;
  padding: 0px 4px 0px 4px;
  border: 1px solid  #8A97FE;
  border-radius: 10px;
  text-align: center;
  width: 260px;
  font-size: 20px;
}
