
.button-orange-xl {
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  text-align: center;
  width: 220px;
  font-size: 24px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);

  &:hover {
    background-color: white;
    color: #F78764;
    border: 1px solid  #F78764;
  }
}
