.button-vote{
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 3px 6px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  font-size: 20px;
  &:hover {
    background-color: #F78764;
    color: white;
    box-shadow: none;
  }
}
.button-orange{
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 0px 4px 0px 4px;
  border: 1px solid  #F78764;
  border-radius: 5px;
  text-align: center;
  width: 180px;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.button-orange-xl {
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  text-align: center;
  width: 140px;
  height: 40px;
  font-size: 24px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  border: 1px solid  #F78764;
}
.button-border-blue {
  color: $purple-blue;
  text-decoration: none;
  padding: 0px 4px 0px 4px;
  margin-bottom: 8px;
  border: 1px solid  $purple-blue;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}
.button-blue {
  color: white;
  text-decoration: none;
  background-color: #8A97FE;
  padding: 0px 4px 0px 4px;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;
  width: 260px;
  font-size: 20px;
  border: 1px solid  $purple-blue;
}
.button-blue-xl {
  color: white;
  text-decoration: none;
  background-color: #8A97FE;
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  text-align: center;
  width: 140px;
  height: 40px;
  font-size: 24px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  border: 1px solid  $purple-blue;
  display: inline-block;
  margin: 0 8px;
}
.button-blue-xl-none {
  color: white;
  text-decoration: none;
  background-color: #8A97FE;
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  text-align: center;
  width: 140px;
  height: 40px;
  font-size: 24px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  margin: 0 8px;
}
.button-blank {
  width: 140px;
  height: 40px;
  background-color: white;
  color: white;
  border-radius: 5px;
  margin: 0 8px;
  display: inline-block;
}
.button-orange-xxl {
  color: white;
  text-decoration: none;
  background-color: #F78764;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  width: 240px;
  font-size: 18px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(139, 122, 122, 0.2);
  &:hover {
    background-color: #F78764;
    color: white;
  }
}
.button-blue-xxl {
  color: white;
  text-decoration: none;
  background-color: #8A97FE;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  width: 240px;
  font-size: 18px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  &:hover {
    background-color: #8A97FE;
    color: white;
    box-shadow: none;
  }
}
.button-grey-xxl {
  color: black;
  text-decoration: none;
  background-color: #DFDFDF;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  width: 240px;
  font-size: 18px;
  box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  &:hover {
    background-color: #DFDFDF;
    color: black;
    box-shadow: none;
  }
}

.link-button {
  padding: 0;
}
