.index-trips-card-confirmed {
  // width: 320px;
  background-color: white;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  border: 3px solid #F78764;

  .img {
    width: 95%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
  }
  h5 {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
  }

  #date {
    margin-left: 8px;
    margin-top: 2px;
    i{
      font-size: 24px;
    }
  }

  .footer-index-trips-cards-confirmed{
    background-color: #F78764;
    padding-top: 9px;
    height: 3em;
    text-align: center;
    text-decoration: none;
    color:white;
    a{
      text-decoration: none;
      color:white;
      font-size: 24px;

    }

  }



}
