.card-index-new{
  width: 290px;
  height: 380px;
  position: relative;
  .card-index-new-img{
    width: 270px;
    height: 380px;
    background-size: cover;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(139, 122, 122, 0.2);
  }
  #card-index-new-title{
    font-size: 28px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    color: white;
  }
  #card-index-nex-texte{
    font-size: 22px;
    position: absolute;
    top: 60px;
    left: 20px;
    color: white;
  }
  #card-index-new-date{
    position: absolute;
    top: 90px;
    left: 20px;
    color: white;
    font-size: 16px;
  }
  .mini-avatar{
    position: absolute;
    top: 290px;
    left: 20px;
  }
  .card-index-new-footer{
    display:flex;
  }
}
