.form-global {
  justify-content: center;
  align-items: center;
}
.form {
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  width: 65%;
  background-color: rgba(138,	151,	254, 0.3);
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.username-header-form {
  display: flex;
  justify-content: space-around;
}
.header-name {
  .names {
    p {
    width: 140px;
    }
  }
}
.week {
  .av {

  }
}
