.modal-new-trip {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myModal {
  z-index: 100;
}
/* Modal Content/Box */
.modal-content-new-trip {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .new_trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .input {
    border-radius: 10px;
  }
  .form-trip-title {
    justify-content: center;
    margin-bottom: 3rem;
    h1 {
      color: #F78764;
      font-weight: bold;
    }
  }
  .center {
    text-align: center;
  }
  .centered-button {
    margin: 0 auto;
    margin-top: 3rem;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  left: 190px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.category-wrapper-1 {
  display: flex;
  flex-wrap: wrap;
}
.trip_time_span {
  legend {
    display: none;
  }
}
.category-item-1 {
  flex: 0 0 30%;
}

.category-selector-1 {
  position: absolute;
  transform: scale(0);
  padding: 40px 10px;
}

.category-selector-1 + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 120px;
  height: 42px;
  font-size: 15px;
  text-align: left;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 0px 10px;
  background-color: white;
  text-align: center;
}
.category-selector-1:checked + label {
  background-color: rgba(138, 151, 254, 0.10);
  font-weight: bolder;
}

#trip_name {
  width: 100%;
  margin: 20px 0px;
}
#trip_month {
  width: 100%;
  margin-bottom: 20px;
}

#button-form-week {
  justify-content: space-between;
}
